<h2>HttpClient</h2>

<label>
  Hero ID:
  <input class="form-control" name="id" [(ngModel)]="hero.id">
</label>
<label>
  Hero Name:
  <input class="form-control" name="name" [(ngModel)]="hero.name">
</label>
<p>{{hero | json}}</p>
<button class="btn" (click)="clickGetHeroes()">GET HEROES</button>
<button class="btn" (click)="clickPostHero()">POST HERO</button>
<button class="btn" (click)="clickDeleteHero()">DELETE HERO</button>

<p>{{config | json}}</p>
<p>{{headers | json}}</p>
<p>{{heroes | json}}</p>